@import url(http://fonts.googleapis.com/css?family=Cantarell);

#name {
  font-size: 4em;
  margin-left:3cm;
  float: left;
  color: #8849D9;
  padding: 20px 0px 20px 0px;
}

p {
  color: gray;
  font-size: 2em;
  -webkit-font-smoothing: antialiased;
  margin-left: 2cm;
  clear: left;
}

body {
  font-family: 'Cantarell';
}

a:link {color: #8849D9;text-decoration:none;}
a:visited {color: #8849D9;text-decoration:none;}
a:hover {color: #8849D9;text-decoration:none;}
a:active {color: #8849D9;text-decoration:none;}
